.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.All-Cards {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  flex: auto;
}

.Card svg {
  height: 30vmin;
  flex: auto;
}

.Description {
  color: white;
}

.Description a {
  color: #61dafb;
}
